.hiddenRow {
    text-align: center !important;
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}

.imagenCodigo {
    margin: auto;
}

.card {
    padding-top: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /*width: 40%;*/
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contenedor {
    padding: 2px 16px;
}